<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <!-- title -->
    <div class="container-post-title">
        <h1 class="post-title" th:text="${post.title}"></h1>
        <!-- idk why the Thymeleaf needs this to work -->
        <form th:action="'/post/' + ${post.id} + '/edit-title'" method="post">
            <input class="post-title-input" type="hidden" name="title">
            <input type="image" th:src="@{/icon/edit.svg}" th:onclick="edit_title(this)" class="edit-btn"></input>
        </form>
    </div>

    <div class="container-info">
        <!-- date -->
        <p th:text="${post.getDate()}">data: </p>

        <!-- views -->
        <p th:text="${post.getViews()} + ' views'">views: </p>
    </div>
    <hr class="post">
    <div class="container-content">
        <!-- content -->
        <p th:utext="${#strings.replace(post.getContent(), '&#13;', '<br/>')}"></p>
        <form th:action="'/post/' + ${post.id} + '/edit-content'" method="post">
            <textarea style="display: none" class="post-content-input" name="content"></textarea>
            <input type="image" th:src="@{/icon/edit.svg}" th:onclick="edit_content(this)" class="edit-btn"></input>
        </form>
    </div>
    <hr class="post">

    <div class="container-comment">
        <!-- comments -->
        <h2>Comments</h2>
        <ul>
            <li class="comment-block" th:each="comment : ${post.getComments()}" th:if="${comment != null}">

                <p class="autore" th:text="${comment.getAuthor()}"></p>
                <span>-</span>
                <p class="data" th:text="${comment.getDate()}"></p>

                <p class="contenuto" th:text="${comment.getContent()}"></p>
            </li>
        </ul>

        <!-- if there isn-t any comment -->
        <p th:if="${post.getComments().size() == 0}">No comments yet</p>

    </div>
    <script>
        function edit_title(button) {
            event.preventDefault();
            // transform the title into an input
            var title = document.querySelector('.post-title');
            var input = document.querySelector('.post-title-input');

            input.setAttribute('type', 'text');
            input.setAttribute('value', title.textContent);
            input.focus();
            
            title.parentNode.removeChild(title);
            button.setAttribute('type', 'image');
            // change the button
            button.setAttribute('onclick', 'save_title(this)');
            button.setAttribute('src', '/icon/tick.svg');
        }

        function edit_content(button) {
            event.preventDefault();
            // transform the title into an input
            var content = document.querySelector('.container-content p');
            var input = document.querySelector('.post-content-input');

            input.style.display = 'block';
            input.setAttribute('type', 'text');
            input.textContent = content.textContent;
            input.focus();
            
            content.parentNode.removeChild(content);
            button.setAttribute('type', 'image');
            // change the button
            button.setAttribute('onclick', 'save_content(this)');
            button.setAttribute('src', '/icon/tick.svg');
        }
    </script>
</body>
</html>