<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Blog Homepage</title>
  <link rel="stylesheet" href="/src/main/resources/css/output.css" th:href="@{/css/output.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
</head>

<body>
  <div class="bg-white py-24 sm:py-32">
    <!-- Title + search + login -->
    <div class="mx-auto max-w-8xl px-4 flex flex-col">
      <div class="flex flex-row">
        <div class="mx-auto max-w-4xl lg:mx-0 ">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Sirico's Blog</h2>
          <p class="mt-2 text-lg leading-8 text-gray-600">Lorem ipsum dolor sit, amet consectetur adipisicing
            elit. Quia iusto ducimus impedit eius laborum? Iure, similique quasi molestias nam fuga sunt natus
            debitis deserunt. Fugiat porro aperiam deserunt maxime vitae..</p>
        </div>

        <div class="mr-2 p-2">
          <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg>
              <span class="sr-only">Search icon</span>
            </div>
            <form>
              <input type="text" id="search-navbar"
                class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search...">
            </form>
          </div>
        </div>
        <div class="p-2">
          <!-- if the user is logged -->
          <button id="dropdownUserAvatarButton" data-dropdown-toggle="dropdownAvatar"
            class="flex text-sm bg-gray-800 rounded-full" type="button">
            <span class="sr-only">Open user menu</span>
            <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
              <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
                </path>
              </svg>
            </div>
          </button>
          <!-- Dropdown menu -->
          <div id="dropdownAvatar" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
            <ul class="py-2 text-sm" aria-labelledby="dropdownUserAvatarButton">
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 ">Create new post</a>
              </li>
            </ul>
            <div class="py-2">
              <a href="#" class="block px-4 py-2 text-sm hover:bg-gray-100">Sign out</a>
            </div>
          </div>
        </div>



        <!-- if the user is not logged -->
        <div id="dropdownAvatar" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
          <ul class="py-2 text-sm" aria-labelledby="dropdownUserAvatarButton">
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100 ">Login</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <!-- posts -->
    <div
      class="mx-auto max-w-8xl grid grid-cols-3 mt-10 border-t border-gray-200 pt-10">
      <article th:each="post : ${posts}" class="flex flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <div>
            <time th:text="${post.getDate()}" datetime="2020-03-16" class="text-gray-500"></time>
          </div>
          <div>
            <!-- for each tag in the post -->
            <div th:each="tag : ${post.getTags()}">
              <!-- TODO: add tag filter -->
              <a th:text="${tag}"
                class="relative z-10 rounded-full bg-gray-50 px-1.5 py-0.75 font-small text-gray-600 hover:bg-gray-100"></a>
            </div>
          </div>

        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <a th:href="@{'/post/' + ${post.getId()}}">
              <span class="absolute inset-0"></span>
              <span th:text="${post.getTitle()}"></span>
            </a>
          </h3>
          <p th:text="${post.getDescription()}" class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
          </p>
        </div>
      </article>
    </div>
  </div>



  <a href="/new-post">Create a new Post</a>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>

</html>