<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Homepage</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
  <div class="container-title flex align-center space-between">
    <div>
      <a href="/">
        <h1 class="blog-title">Sirico's Blog</h1>
      </a>
    </div>
    <div class="flex align-center" style="gap: 10px;">
      <div class="flex align-center" style="gap: 5px; position: relative;">
        <div id="mySearchbar" class="searchbar">
            <form th:action="@{/search}" method="get">
              <input type="text" placeholder="Search.." name="q">
            </form>
          </div>
          <button class="dropbtn" onclick="searchbar()">
            <img th:src="@{/icon/search.svg}" alt="search" />
          </button>

        </div>
        <div class="flex-right px-2">
          <div>
            <button onclick="dropDownMenu()" class="dropbtn">
              <img th:src="@{/icon/avatar.svg}" alt="avatar" />

            </button>
            <!-- If the user is not logged -->
            <div id="myDropdown" class="dropdown-content">
              <a th:if="${logged}" th:href="@{/new-post}">Create new post</a>
              <a th:if="${!logged}" th:href="@{/login}" th:text="Login">Login</a>
              <form th:action="@{/logout}" method="post">
                <input class="logout" th:if="${logged}" type="submit" value="Logout"> 
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <hr>
  <div class="container-grid">

    <article th:each="post : ${posts}">
      <div class="flex space-between">
        <div class="remove" th:if="${logged}">
          <form th:action="@{/remove}" method="post">
            <input type="hidden" th:value="${post.getId()}" name="id">
            <button id="btn-remove">
              <img th:src="@{/icon/remove.svg}" alt="remove" />
            </button>
          </form>
        </div>
        <div class="edit" th:if="${logged}">
          <a th:href="@{'/edit/' + ${post.getId()}}">
            <img th:src="@{/icon/edit.svg}" alt="edit" />
          </a>
        </div>
      </div>
      <div class="flex space-between">
        <h3 class="date">
          <img th:src="@{/icon/calendar.svg}" alt="calendar" />
          <span th:text="${post.getDate()}">DATA</span>
        </h3>
        <h3 class="views">
          <img th:src="@{/icon/view.svg}" alt="views" />
          <span th:text="${post.getViews()}">NUMERO VIEWS</span>
        </h3>
      </div>
      <h2 class="title" th:text="${post.getTitle()}">TITOLO</h2>
      <p class="description" th:text="${post.getDescription(150)}">PARAGRAFO</p>
      <a th:href="@{'/post/' + ${post.getId()}}" class="read">Read the post</a>
    </article>
  </div>
  <script>
    function dropDownMenu() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    function searchbar() {
      document.getElementById("mySearchbar").classList.toggle("show-searchbar");
    }

  </script>
</body>

</html>