<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>POST</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
  <form th:action="@{/new-post}" method="post">

    <div class="container-post-title">
        <input placeholder="Titolo" type="text" name="title" class="title-input">
    </div>
    <hr class="post">
    <div class="container-content">
        <textarea name="content" style="height: 50vh; width: 100%"></textarea>
    </div>
    <hr class="post">
      <button class="create-bnt" type="submit">Create post</button>
    </form>
</body>

</html>