<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!-- TODO -->
    <title>POST</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <!-- title -->
    <div class="container-post-title">
        <h1 class="post-title" th:text="${post.getTitle()}"></h1>
    </div>

    <div class="container-info">
        <!-- date -->
        <p th:text="${post.getDate()}">data: </p>

        <!-- views -->
        <p th:text="${post.getViews()} + ' views'">views: </p>
    </div>
    <hr class="post">
    <div class="container-content">
        <!-- content -->
        <p th:utext="${#strings.replace(post.getContent(), '&#13;', '<br/>')}"></p>
    </div>
    <hr class="post">

    <div class="container-comment">
        <!-- comments -->
        <h2>Comments</h2>
        <ul>
            <li class="comment-block" th:each="comment : ${post.getComments()}" th:if="${comment != null}">
                
                <p class="autore" th:text="${comment.getAuthor()}"></p>
                <span>-</span>
                <p class="data" th:text="${comment.getDate()}"></p>

                <p class="contenuto" th:text="${comment.getContent()}"></p>
            </li>
        </ul>

        <!-- if there isn-t any comment -->
        <p th:if="${post.getComments().size() == 0}">No comments yet</p>

        <!-- new comment form -->
        <p>Tell us your opinion!</p>
        <form method="post" th:action="@{/post/{id}/add-comment(id=${post.id})}">
            <label for="content">Commento</label> <br>
            <textarea id="content" name="content"></textarea>
            <br>
            <label for="author">Autore</label> <br>
            <input type="text" id="author" name="author">
            <br>
            <button type="submit">Comment</button>
        </form>
    
    </div>
</body>

</html>